.vs/*
CSCI/.vs/CSCI/v15/Server/sqlite3/storage.ide-wal
CSCI/.vs/CSCI/v15/Server/sqlite3/storage.ide-shm
CSCI/.vs/CSCI/v15/Server/sqlite3/storage.ide
CSCI/.vs/CSCI/v15/Server/sqlite3/db.lock
CSCI/.vs/CSCI/v15/.suo
